# This file will be sourced in a shell. Do not put any commands in here other than 
# defining variables like below.

# Temporary mount point for the Raspberry Pi image.
PI_MOUNT_POINT=/mnt/yaya

# Initial password for the Raspberry Pi set during the build process.
# Don't leave it blank, provide a password here.
PI_PASSWORD=''
