# This file will be sourced in a shell. Do not put any commands in here other than defining variables like below.

# Temporary mount point for the Raspberry Pi image.
PI_MOUNT_POINT=/mnt/yaya

# Initial password for the Raspberry Pi set during the build process. Don't leave it blank, provide a password here.
PI_PASSWORD=''

# Optional SSH public key to be added to the authorized_keys on the pi, in the format `ssh-rsa <key...> user@host`.
PI_AUTHORIZED_KEY=''

# Wifi credentials and locale.
WIFI_COUNTRY=<two-letter-country-code>
WIFI_SSID='<wifi-network>'
WIFI_PASSWORD='<wifi-password>'

# Data partition size. Specify with a 'G' suffix. This partition is intended to be kept when upgrading the OS image.
# I don't know yet what we will store here.
#
# Ensure your SD card is large enough. At the time of writing, a Raspberry Pi OS image is 2.6GiB large, and we will need
# an extra ~2.1GiB for a second system partition, plus the data partition.
#
# E.g. if you want 2GiB data partition, you will need an 8GiB SD card to accomodate everything.
DATA_PARTITION_SIZE=2G
