# This file will be sourced in a shell. Do not put any commands in here other than 
# defining variables like below.

# Temporary mount point for the Raspberry Pi image.
PI_MOUNT_POINT=/mnt/yaya

# Initial password for the Raspberry Pi set during the build process.
# Don't leave it blank, provide a password here.
PI_PASSWORD=''

# Optional SSH public key to be added to the authorized_keys on the pi,
# in the format `ssh-rsa <key...> user@host`.
PI_AUTHORIZED_KEY=''

# Wifi credentials and locale.
WIFI_COUNTRY=<two-letter-country-code>
WIFI_SSID='<wifi-network>'
WIFI_PASSWORD='<wifi-password>'